dash
dash-bootstrap-components
dash-core-components
dash-daq
dash-html-components
dash-table
Flask
geographiclib
geopy
google-auth
google-auth-oauthlib
google-pasta
googlemaps
numpy
pandas
plotly
scikit-learn @ git+https://github.com/scikit-learn/scikit-learn.git@d7a114413d1f11bf5f7029cd519c9a29a66b1890

